.nav {
  padding: 1rem;
  height: 50px;
  align-items: center;
  display: flex;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.nav__brand {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--neutral-white-100);
  text-decoration: none;
}
s .nav__profile {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.paper {
  width: 30px;
  height: 30px;
}

.nav__menu-item {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  color: var(--primary-white-100);
}

.nav__profile {
  display: flex;
}

.nav__profile-id {
  margin-left: 0.5rem;
}
